@font-face{
   font-family: 'Changa One';
   src:  url('../fonts/ChangaOne-Regular.ttf') format('truetype');
}

body{
   background: transparent url(http://www.iplantcollaborative.org/sites/all/themes/iplant/images/bg.png) top left;

}

.header-strip{
    background:#5e5e5e;
    /*height:10px;*/
    height: 0px;
}
.header-back{
   /* background:transparent url(../images/back.png) no-repeat left top;*/
    background:transparent url(../images/xfield.png) repeat-x left top;
    height:105px;
}
.header-text{
    background:#000;
    color: #cccccc;
    font-size:13px;
    padding:20px;
    text-align:center;
    margin-left: -12px;
}
.header-text strong{
    color:#fff;
    font-size:14px;
}
.logo{
   /* background:transparent url(../images/agave-login-banner-background.png) no-repeat left top;*/
    width:424px;
    height:105px;
    display:block;
    cursor:pointer;
    font-family:'Changa One', sans-serif;
    color: rgb(255, 255, 255);
    position:relative;
    top:40px;
    left:50px;
    text-transform: uppercase;
    font-size: 4em;
    text-decoration: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); 
}

.logo:before {
    background: transparent  url('http://www.iplantcollaborative.org/sites/default/files/iplant_logo.png');
    margin-right: 14px;
    width: 30px;
    height: 30px;
    content: '';
    background-size: contain;
    background-repeat: no-repeat;
    padding: 12px;
    margin-top: -14px;
    position: absolute;
    margin-left: -60px;
}

.content-section{
    text-align:center;
    padding:10px 0 0 0;
}

.content-section form.well{
    text-align:left;
}

.download-info{
    margin: 5px 0px 9px 40px;
}

.header-text{
    background: #04A5B7;
}

.btn, #authorizeLink, #denyLink{
    border-radius: 0;
}

#authorizeLink, .btn-primary{
  background-color: #03A5B7;
  background-image: -ms-linear-gradient(top, #04c9df, #03A5B7);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#04c9df), to(#03A5B7));
  background-image: -webkit-linear-gradient(top, #04c9df, #03A5B7);
  background-image: -o-linear-gradient(top, #04c9df, #03A5B7);
  background-image: -moz-linear-gradient(top, #04c9df, #03A5B7);
  background-image: linear-gradient(top, #04c9df, #03A5B7);
  /*background-color: #316a90;
  background-color: #316a90;
  background-image: -ms-linear-gradient(top, #316a90, #4583ac);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#316a90), to(#4583ac));
  background-image: -webkit-linear-gradient(top, #316a90, #4583ac);
  background-image: -o-linear-gradient(top, #316a90, #4583ac);
  background-image: -moz-linear-gradient(top, #316a90, #4583ac);
  background-image: linear-gradient(top, #316a90, #4583ac);*/
  background-repeat: repeat-x;
  border-color: #0055cc #0055cc #003580;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#04c9df', endColorstr='#03A5B7', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

#loginBtn,
.btn-large[name="approve"],
.btn-large[name="approveAlways"]{
   background-color: #03A5B7;

}

.login-header{
    background:#e86d1f;
    color:#fff;
    padding:5px;

     -webkit-border-top-left-radius: 4px;
          border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;

    -webkit-border-top-right-radius: 4px;
          border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;

    margin-top:10px;
}
.form-horizontal .control-label{
    width:80px;
}
.form-horizontal .controls{
    margin-left:100px;
}
.form-horizontal .form-actions{
    padding-left:100px;
    padding-bottom:0;
    margin-bottom:0;
}

.styledLeft{
    margin-left: 15px;
}

.access-denied{
    position:relative;
    left:150px;
}
